---
title: Home
layout: layouts/page.njk
---

<section>
   <h1>Zhenya Marych is a Cracow based designer focused on creating for the web — from visuals and interfaces to full
      websites</h1>
</section>
<section>
   <h2>Websites</h2>
   <ul>
      <li><a href="https://singulariti.framer.website">Singularity ↗</a></li>
      <li><a href="https://www.mindmapslab.pl">MindMapsLab ↗</a></li>
      <li><a href="{{'/assets/pdf/ridivisa.pdf'|url}}">Ridivisa ↗</a></li>
      <li><a href="{{'/assets/pdf/tibisi-cleaning.pdf'|url}}">TiBiSi Cleaning ↗</a></li>
   </ul>
</section>
<section>
   <h2>Designs</h2>
   <ul>
      <li>
         <a href="{{'/assets/pdf/voluum-diagram.pdf' |url}}">Voluum Diagram ↗</a>
      </li>
      <li>Digital manual for cleaning</li>
   </ul>
</section>
<section>
   <h2>Thoughts</h2>
   <ul>
      <li><a href="{{'/pages/example-page/'|url}}">Example page</a></li>
   </ul>
</section>