---
title: Home
layout: layouts/page.njk
---

<section>
   <h1>I'm Zhenya Marych, a Cracow-based designer and developer focused on creating for the web — from visuals and
      interfaces to full
      websites.</h1>
</section>
<section>
   <div>Short <a href="{{'/assets/pdf/presentation.pdf' |url}}">presentation</a> about my experience, the services
      I offer, how I work, my principles, and
      pricing.</div>
</section>
<section>
   <div>See some of the websites I've created end-to-end:
      <a href="https://singulariti.framer.website">Singularity,</a>
      <a href="https://www.mindmapslab.pl">MindMapsLab,</a>
      <a href="{{'/assets/pdf/tibisi-cleaning.pdf'|url}}">TiBiSi Cleaning,</a>
      <a href="{{'/assets/pdf/ridivisa.pdf'|url}}">Ridivisa,</a>
      and one of my design works:
      <a href="{{'/assets/pdf/voluum-diagram.pdf' |url}}">Voluum Diagram</a>
   </div>
</section>

<section>
   <div>A bit more about me on <a href="https://www.linkedin.com/in/zhenya-marych/">LinkedIn</a></div>
</section>
<!-- <section>
   <h2>Thoughts</h2>
   <ul>
      <li><a href="{{'/pages/example-page/'|url}}">Example page</a></li>
   </ul>
</section> -->
<section><span style="opacity: 0.2;">Website updated in summer 2025<span></section>